<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TextColor" value="Black"/>
		<add key="BackgroundColor" value="White"/>
		<add key="FontStyle" value="Arial"/>
		<add key="FontSize" value="12"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>